/* * {
  border: 1px salmon solid;
} */
.topnavbar {
  background-color: #c2a878;
  text-align: right;
  /* display: flex;
  justify-content: flex-end; */
}
input {
  border-radius: 25px;
}

.topnav {
  padding: 5px 16px;
}
/* .navNav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
} */
h1 {
  display: inline;
}
.logo {
  width: 35%;
}
.navlinks {
  width: 65%;
  display: flex;
  justify-content: flex-end;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
.mainnav {
  padding: 5px;
}
.bikeimages {
  display: flex;
  justify-content: center;
}
