* {
  border: 1px salmon solid;
}
nav {
  background-color: #c2a878;
  text-align: right;
  /* display: flex;
  justify-content: flex-end; */
}
input {
  border-radius: 25px;
}

.topnav {
  padding: 5px 16px;
}
/* .navNav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
} */